// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody tr:hover {
	background-color: #d8d8d8;
}

.ans_yes {
	background-color: #8bad53;
}

.ans_no {
	background-color: red;
}

.hidden {
	display: none;
}

#SortTool {
	position: fixed;
	top: 10%;
	left: 80%;
}
